In [1]:
import pandas as pd

## Importing data using pandas read

In [2]:
df = pd.read_csv("/home/chinmay/SuperstorePerformanceProject/Data/SuperstoreData.csv")
df.head(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2014-103278,2016-02-26,2016-03-02,First Class,CG-53283,Kate Taylor,Corporate,United States,Phoenix,...,39825,West,PRD-6289,Furniture,Tables,Conference Table,3021.48,9,0.50,898.98
1,2,CA-2016-132098,2017-06-14,2017-06-21,First Class,CG-24855,Tom Anderson,Corporate,United States,Seattle,...,26202,West,PRD-4708,Technology,Accessories,Accessories Item,4986.74,2,0.23,-952.67
2,3,CA-2015-118289,2016-05-06,2016-05-08,Standard Class,CG-73113,Jane Doe,Corporate,United States,Phoenix,...,27814,West,PRD-7043,Furniture,Chairs,Executive Chair,4600.80,2,0.14,410.20

## Data Cleaning (Dropping null values, stripping column names and removing any spaces from column names)

In [3]:
df.dropna(inplace=True)

In [4]:
df.columns = df.columns.str.strip().str.lower()

In [5]:
df.columns = df.columns.str.replace(' ', '')

In [6]:
df.head(3)

,rowid,orderid,orderdate,shipdate,shipmode,customerid,customername,segment,country,city,...,postalcode,region,productid,category,sub-category,productname,sales,quantity,discount,profit
0,1,CA-2014-103278,2016-02-26,2016-03-02,First Class,CG-53283,Kate Taylor,Corporate,United States,Phoenix,...,39825,West,PRD-6289,Furniture,Tables,Conference Table,3021.48,9,0.50,898.98
1,2,CA-2016-132098,2017-06-14,2017-06-21,First Class,CG-24855,Tom Anderson,Corporate,United States,Seattle,...,26202,West,PRD-4708,Technology,Accessories,Accessories Item,4986.74,2,0.23,-952.67
2,3,CA-2015-118289,2016-05-06,2016-05-08,Standard Class,CG-73113,Jane Doe,Corporate,United States,Phoenix,...,27814,West,PRD-7043,Furniture,Chairs,Executive Chair,4600.80,2,0.14,410.20

## Converting orderdate and shipdate to pandas datetime objects

In [7]:
df['orderdate'] = pd.to_datetime(df['orderdate'])

In [8]:
df['shipdate'] = pd.to_datetime(df['shipdate'])

In [9]:
df.head(3)

,rowid,orderid,orderdate,shipdate,shipmode,customerid,customername,segment,country,city,...,postalcode,region,productid,category,sub-category,productname,sales,quantity,discount,profit
0,1,CA-2014-103278,2016-02-26,2016-03-02,First Class,CG-53283,Kate Taylor,Corporate,United States,Phoenix,...,39825,West,PRD-6289,Furniture,Tables,Conference Table,3021.48,9,0.50,898.98
1,2,CA-2016-132098,2017-06-14,2017-06-21,First Class,CG-24855,Tom Anderson,Corporate,United States,Seattle,...,26202,West,PRD-4708,Technology,Accessories,Accessories Item,4986.74,2,0.23,-952.67
2,3,CA-2015-118289,2016-05-06,2016-05-08,Standard Class,CG-73113,Jane Doe,Corporate,United States,Phoenix,...,27814,West,PRD-7043,Furniture,Chairs,Executive Chair,4600.80,2,0.14,410.20

## Exporting the clean data to a new csv file

In [10]:
df.to_csv("/home/chinmay/SuperstorePerformanceProject/Data/SuperstoreCleanData.csv", index=False)